<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonCode">

    <sql id="selectColumn">
        code.group_code,
        code.code,
        code.code_name,
        code.use_yn,
        code.description,
        code.sort_index,
        code.reg_date,
        code.mod_date,
        code.reg_user_key,
        code.mod_user_key
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_code code
        WHERE 1=1
        <if test="groupCode != null and groupCode != ''">
            AND code.group_code = #{groupCode}
        </if>
        <if test="codeName != null and codeName != ''">
            AND code.code_name LIKE '%' || #{codeName} || '%'
        </if>
        <if test="useYn != null and useYn != ''">
            AND code.use_yn = #{useYn}
        </if>
        ORDER BY code.group_code ASC, code.sort_index ASC
    </select>

    <select id="selectDetail" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_code code
        WHERE code.group_code = #{groupCode}
        AND code.code = #{code}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        INSERT INTO common_code (group_code,
                                 code,
                                 code_name,
                                 use_yn,
                                 description,
                                 sort_index,
                                 reg_date,
                                 mod_date,
                                 reg_user_key,
                                 mod_user_key)
        VALUES (#{groupCode},
                #{code},
                #{codeName},
                #{useYn},
                #{description},
                #{sortIndex},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{regUserKey},
                #{regUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        UPDATE common_code
        <set>
            <if test="codeName != null">code_name = #{codeName},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sortIndex != null">sort_index = #{sortIndex},</if>
            mod_date = CURRENT_TIMESTAMP,
            mod_user_key = #{modUserKey}
        </set>
        WHERE group_code = #{groupCode}
        AND code = #{code}
    </update>

    <delete id="delete" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        DELETE
        FROM common_code
        WHERE group_code = #{groupCode}
          AND code = #{code}
    </delete>

    <select id="selectListCount" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto"
            resultType="int">
        SELECT COUNT(*)
        FROM common_code code
        WHERE 1=1
        <if test="groupCode != null and groupCode != ''">
            AND code.group_code = #{groupCode}
        </if>
        <if test="codeName != null and codeName != ''">
            AND code.code_name LIKE '%' || #{codeName} || '%'
        </if>
        <if test="useYn != null and useYn != ''">
            AND code.use_yn = #{useYn}
        </if>
    </select>

    <select id="selectList2" parameterType="com.lgsurvey.DevGuide.dto.CommonCodeDto" resultType="com.lgsurvey.DevGuide.dto.CommonCodeDto">
        SELECT *
        FROM common_code code
        WHERE 1=1
        <if test="groupCode != null and groupCode != ''">
            AND code.group_code = #{groupCode}
        </if>
        <if test="codeName != null and codeName != ''">
            AND code.code_name LIKE '%' || #{codeName} || '%'
        </if>
        <if test="useYn != null and useYn != ''">
            AND code.use_yn = #{useYn}
        </if>
        ORDER BY code.reg_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

</mapper>
