<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonPosition">

    <sql id="selectColumn">
        pos.position_key,
        pos.position_title,
        pos.sort_index,
        pos.reg_date,
        pos.mod_date,
        pos.reg_user_key,
        pos.mod_user_key
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonPositionDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonPositionDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_position pos
        WHERE 1=1
        <if test="positionTitle != null and positionTitle != ''">
            AND pos.position_title LIKE '%' || #{positionTitle} || '%'
        </if>
        ORDER BY pos.sort_index ASC, pos.position_title ASC
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.CommonPositionDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_position pos
        WHERE pos.position_key = #{positionKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonPositionDto">
        INSERT INTO common_position (position_key,
                                     position_title,
                                     sort_index,
                                     reg_date,
                                     mod_date,
                                     reg_user_key,
                                     mod_user_key)
        VALUES (#{positionKey},
                #{positionTitle},
                #{sortIndex},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{regUserKey},
                #{regUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.CommonPositionDto">
        UPDATE common_position
        <set>
            <if test="positionTitle != null">position_title = #{positionTitle},</if>
            <if test="sortIndex != null">sort_index = #{sortIndex},</if>
            mod_date = CURRENT_TIMESTAMP,
            mod_user_key = #{modUserKey}
        </set>
        WHERE position_key = #{positionKey}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM common_position
        WHERE position_key = #{positionKey}
    </delete>

</mapper>
