<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonErrorLog">

    <sql id="selectColumn">
        log.log_key,
        log.user_key,
        log.log_kind_code,
        log.error_message,
        log.reg_date
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonErrorLogDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonErrorLogDto">
        SELECT
        <include refid="selectColumn"/>
        , usr.user_name /* 조인으로 사용자명 추가 확인용 */
        FROM common_error_log log
        LEFT JOIN common_user usr ON log.user_key = usr.user_key
        WHERE 1=1
        <if test="logKindCode != null and logKindCode != ''">
            AND log.log_kind_code = #{logKindCode}
        </if>
        <if test="userKey != null and userKey != ''">
            AND log.user_key = #{userKey}
        </if>
        <if test="errorMessage != null and errorMessage != ''">
            AND log.error_message LIKE '%' || #{errorMessage} || '%'
        </if>
        ORDER BY log.reg_date DESC
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.CommonErrorLogDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_error_log log
        WHERE log.log_key = #{logKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonErrorLogDto">
        INSERT INTO common_error_log (log_key,
                                      user_key,
                                      log_kind_code,
                                      error_message,
                                      reg_date)
        VALUES (#{logKey},
                #{userKey},
                #{logKindCode},
                #{errorMessage},
                CURRENT_TIMESTAMP)
    </insert>

    <delete id="delete" parameterType="String">
        DELETE
        FROM common_error_log
        WHERE log_key = #{logKey}
    </delete>

</mapper>
