<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonFile">

    <sql id="selectColumn">
        file.file_key,
        file.ori_filename,
        file.file_ext,
        file.mime_type,
        file.thum_mime_type,
        file.file_size,
        file.parent_path,
        file.file_hash,
        file.use_yn,
        file.base64_string,
        file.reg_date,
        file.mod_date,
        file.reg_user_key,
        file.mod_user_key
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonFileDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonFileDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_file file
        WHERE 1=1
        <if test="oriFilename != null and oriFilename != ''">
            AND file.ori_filename LIKE '%' || #{oriFilename} || '%'
        </if>
        <if test="parentPath != null and parentPath != ''">
            AND file.parent_path = #{parentPath}
        </if>
        <if test="useYn != null and useYn != ''">
            AND file.use_yn = #{useYn}
        </if>
        ORDER BY file.reg_date DESC
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.CommonFileDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_file file
        WHERE file.file_key = #{fileKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonFileDto">
        INSERT INTO common_file (file_key,
                                 ori_filename,
                                 file_ext,
                                 mime_type,
                                 thum_mime_type,
                                 file_size,
                                 parent_path,
                                 file_hash,
                                 use_yn,
                                 base64_string,
                                 reg_date,
                                 mod_date,
                                 reg_user_key,
                                 mod_user_key)
        VALUES (#{fileKey},
                #{oriFilename},
                #{fileExt},
                #{mimeType},
                #{thumMimeType},
                #{fileSize},
                #{parentPath},
                #{fileHash},
                #{useYn},
                #{base64String},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{regUserKey},
                #{regUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.CommonFileDto">
        UPDATE common_file
        <set>
            <if test="oriFilename != null">ori_filename = #{oriFilename},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="base64String != null">base64_string = #{base64String},</if>
            mod_date = CURRENT_TIMESTAMP,
            mod_user_key = #{modUserKey}
        </set>
        WHERE file_key = #{fileKey}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM common_file
        WHERE file_key = #{fileKey}
    </delete>

</mapper>
