<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMenu">

    <sql id="selectColumn">
        menu.menu_key,
        menu.up_menu_key,
        menu.menu_level,
        menu.menu_title,
        menu.menu_url,
        menu.sort_index,
        menu.description,
        menu.use_yn,
        menu.menu_type,
        menu.reg_date,
        menu.mod_date,
        menu.reg_user_key,
        menu.mod_user_key
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonMenuDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonMenuDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_menu menu
        WHERE 1=1
        <if test="useYn != null and useYn != ''">
            AND menu.use_yn = #{useYn}
        </if>
        <if test="menuTitle != null and menuTitle != ''">
            AND menu.menu_title LIKE '%' || #{menuTitle} || '%'
        </if>
        <include refid="Common.basicOrderBy"/>
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.CommonMenuDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_menu menu
        WHERE menu.menu_key = #{menuKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonMenuDto">
        INSERT INTO common_menu (menu_key, up_menu_key, menu_level, menu_title, menu_url,
                                 sort_index, description, use_yn, menu_type,
                                 reg_date, mod_date, reg_user_key, mod_user_key)
        VALUES (#{menuKey}, #{upMenuKey}, #{menuLevel}, #{menuTitle}, #{menuUrl},
                #{sortIndex}, #{description}, #{useYn}, #{menuType},
                CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{regUserKey}, #{modUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.CommonMenuDto">
        UPDATE common_menu
        SET up_menu_key  = #{upMenuKey},
            menu_level   = #{menuLevel},
            menu_title   = #{menuTitle},
            menu_url     = #{menuUrl},
            sort_index   = #{sortIndex},
            description  = #{description},
            use_yn       = #{useYn},
            menu_type    = #{menuType},
            mod_date     = CURRENT_TIMESTAMP,
            mod_user_key = #{modUserKey}
        WHERE menu_key = #{menuKey}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM common_menu
        WHERE menu_key = #{menuKey}
    </delete>
</mapper>
