<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonDept">

    <sql id="selectColumn">
        dept.dept_key,
        dept.upper_dept_key,
        dept.dept_name,
        dept.use_yn,
        dept.sort_index,
        dept.reg_date,
        dept.mod_date,
        dept.reg_user_key,
        dept.mod_user_key
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.CommonDeptDto"
            resultType="com.lgsurvey.DevGuide.dto.CommonDeptDto">
        SELECT
        <include refid="selectColumn"/>
        , (SELECT d2.dept_name FROM common_dept d2 WHERE d2.dept_key = dept.upper_dept_key) AS upper_dept_name
        FROM common_dept dept
        WHERE 1=1
        <if test="deptName != null and deptName != ''">
            AND dept.dept_name LIKE '%' || #{deptName} || '%'
        </if>
        <if test="upperDeptKey != null and upperDeptKey != ''">
            AND dept.upper_dept_key = #{upperDeptKey}
        </if>
        <if test="useYn != null and useYn != ''">
            AND dept.use_yn = #{useYn}
        </if>
        ORDER BY dept.upper_dept_key ASC, dept.sort_index ASC
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.CommonDeptDto">
        SELECT
        <include refid="selectColumn"/>
        FROM common_dept dept
        WHERE dept.dept_key = #{deptKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.CommonDeptDto">
        INSERT INTO common_dept (dept_key,
                                 upper_dept_key,
                                 dept_name,
                                 use_yn,
                                 sort_index,
                                 reg_date,
                                 mod_date,
                                 reg_user_key,
                                 mod_user_key)
        VALUES (#{deptKey},
                #{upperDeptKey},
                #{deptName},
                #{useYn},
                #{sortIndex},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{regUserKey},
                #{regUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.CommonDeptDto">
        UPDATE common_dept
        <set>
            <if test="upperDeptKey != null">upper_dept_key = #{upperDeptKey},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="sortIndex != null">sort_index = #{sortIndex},</if>
            mod_date = CURRENT_TIMESTAMP,
            mod_user_key = #{modUserKey}
        </set>
        WHERE dept_key = #{deptKey}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM common_dept
        WHERE dept_key = #{deptKey}
    </delete>

</mapper>
