<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeBoard">

    <sql id="selectColumn">
        <include refid="CommonUser.regUserSelectColumn"/>
        <include refid="CommonUser.modUserSelectColumn"/>
        board.board_key,
        board.board_type,
        board.board_title,
        board.board_content,
        board.use_yn,
        board.main_yn,
        board.board_auth_type,
        board.security_level,
        board.reg_date,
        board.mod_date,
        board.reg_user_key,
        board.mod_user_key
    </sql>

    <sql id="joinTable">
        LEFT JOIN common_user reg_user ON board.reg_user_key = reg_user.user_key
        <include refid="CommonUser.regUserJoinTable"/>
        LEFT JOIN common_user mod_user ON board.mod_user_key = mod_user.user_key
        <include refid="CommonUser.modUserJoinTable"/>
    </sql>

    <select id="selectList" parameterType="com.lgsurvey.DevGuide.dto.response.NoticeBoardResponseDto"
            resultType="com.lgsurvey.DevGuide.dto.NoticeBoardDto">
        SELECT
            <include refid="selectColumn"/>
        FROM notice_board board
            <include refid="joinTable"/>
        WHERE 1=1
        <if test="boardType != null and boardType != ''">
            AND board.board_type = #{boardType}
        </if>
        <if test="boardTitle != null and boardTitle != ''">
            AND board.board_title LIKE '%' || #{boardTitle} || '%'
        </if>
        <if test="boardContent != null and boardContent != ''">
            AND board.board_content LIKE '%' || #{boardContent} || '%'
        </if>
        <if test="useYn != null and useYn != ''">
            AND board.use_yn = #{useYn}
        </if>
        <if test="mainYn != null and mainYn != ''">
            AND board.main_yn = #{mainYn}
        </if>
        <if test="boardAuthType != null and boardAuthType != ''">
            AND board.board_auth_type = #{boardAuthType}
        </if>
        <if test="securityLevel != null and securityLevel != ''">
            AND board.security_level = #{securityLevel}
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND (
            <choose>
                <when test="searchType == 'boardTitle'">
                    board.board_title LIKE '%' || #{searchWord} || '%'
                </when>

                <when test="searchType == 'boardContent'">
                    board.board_content LIKE '%' || #{searchWord} || '%'
                </when>

                <otherwise>
                    board.board_title LIKE '%' || #{searchWord} || '%'
                    OR board.board_content LIKE '%' || #{searchWord} || '%'
                </otherwise>
            </choose>
            )
        </if>
        <include refid="Common.basicOrderBy"/>
    </select>

    <select id="selectDetail" parameterType="String" resultType="com.lgsurvey.DevGuide.dto.response.NoticeBoardResponseDto">
        SELECT
        <include refid="selectColumn"/>
        FROM notice_board board
        <include refid="joinTable"/>
        WHERE board.board_key = #{boardKey}
    </select>

    <insert id="insert" parameterType="com.lgsurvey.DevGuide.dto.NoticeBoardDto">
        INSERT INTO notice_board (board_key,
                                  board_type,
                                  board_title,
                                  board_content,
                                  use_yn,
                                  main_yn,
                                  board_auth_type,
                                  security_level,
                                  reg_date,
                                  mod_date,
                                  reg_user_key,
                                  mod_user_key)
        VALUES (#{boardKey},
                #{boardType},
                #{boardTitle},
                #{boardContent},
                #{useYn},
                #{mainYn},
                #{boardAuthType},
                #{securityLevel},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                #{regUserKey},
                #{regUserKey})
    </insert>

    <update id="update" parameterType="com.lgsurvey.DevGuide.dto.NoticeBoardDto">
        UPDATE notice_board
        SET board_type      = #{boardType},
            board_title     = #{boardTitle},
            board_content   = #{boardContent},
            use_yn          = #{useYn},
            main_yn         = #{mainYn},
            board_auth_type = #{boardAuthType},
            security_level  = #{securityLevel},
            mod_date        = CURRENT_TIMESTAMP,
            mod_user_key    = #{modUserKey}
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM notice_board
        WHERE board_key = #{boardKey}
    </delete>

</mapper>
