@layer components {

  // component.scss
  



  // 브래드스크럼 컴포넌트
  .bread-crumb {
    .bread-crumb-list { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 0; color: #555; font-size: 14px; }
    .bread-crumb-list > dt {  
      font-size: 15px;  
      .lucide { font-size: inherit; width: 16px; position: relative; top: -1px; } 
      & + dd:first-of-type {
        padding-left: 8px;
        &::before { display: none; }
      }
    } 
    .bread-crumb-list > dd {  padding-left: 20px; position: relative; margin-bottom: 0; }
    .bread-crumb-list > dd::before { content: ">"; position: absolute; left: 7px; top: 48%; transform: translateY(-50%); }
    .bread-crumb-list > dd:last-of-type { font-weight: bold; }
  }
  // 헤더 로그인 마의페이지 컴포넌트
  .header-menu { 
    display: flex; align-items: center; 
    :where(.css-dev-only-do-not-override-akni31).ant-btn.ant-btn-variant-link {
        --ant-btn-color-base: var(--sv-color-link);
        --ant-btn-color-hover: var(--sv-color-link-hover);
        --ant-btn-color-active: var(--sv-color-link-active);
    }
  }
  



  /* form */
  .page-form-block {
    border-radius: 6px;
    padding: 20px;

    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #e9ebee;
    /* border: 1px solid #f0f0f0; */
  }
  .page-form-block .form-group {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 120px);
  }
  .page-form-block .ant-form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .form-group + .ant-btn {
    height: 100%;
    min-height: 38px;
    max-height: 50px;
  }
  .form-block {
    .error-text {
      position: absolute; right: 0; top: -36px;
      color: var(--sv-color-primary);
      padding: 7px 8px 6px;
      border-radius: 5px;
      z-index: 1;
      background-color: rgb(255, 240, 242);
      font-size: 14px;
      display: none;
    }
  }
  .modify-table {
    .form-item { 
      display: flex; align-items: center; position: relative;
      .error-text { opacity: 1; transition: .3s; }
      .form-input-outlined:has(:focus) + .error-text { opacity: 0; }
    }

    .error-text {
      font-size: 14px;
      position: absolute; right: 0;
      color: var(--sv-color-primary);
      // border: 1px solid var(--sv-color-primary);
      padding: 7px 8px 6px;
      border-radius: 5px;
      z-index: 1;
      // width: 100%; height: 100%;
      background-color: rgb(255, 240, 242);
      // background-color: rgba(255, 240, 255, 1);
      // box-shadow: 1px 2px 5px #ddd;
    }
  }

  .ant-form-item {
    margin: 0;
  }
  .page-form-box .ant-form-item-control {
    min-width: 100px;
  }

  :where(.css-dev-only-do-not-override-1d8anct).ant-space-compact-block {
    width: auto;
  }

  :where(.css-dev-only-do-not-override-1d8anct).ant-select-compact-item:not(
      .ant-select-compact-first-item
    ).ant-select-compact-last-item {
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
  }

}

/*pagination*/
.pagination{margin:2.0rem 0 0 0;text-align:center}
.pagination .first{position:relative}
.pagination .first:before{content:'';position:absolute;box-sizing:content-box;top:0%;left:0%;width:3.2rem;height:3.2rem;background:url(../images/pagination-first.svg)no-repeat center center;}
.pagination .prev{position:relative}
.pagination .prev:before{content:'';position:absolute;box-sizing:content-box;top:0%;left:0%;width:3.2rem;height:3.2rem;background: url(../images/arrow-left.svg)center center no-repeat;/* width:0.6rem;height:0.6rem;transform:translate(-50%, -50%) rotate(45deg);margin-left:0.2rem;border-left:0.1rem solid var(--color-neutral-60);border-bottom:0.1rem solid var(--color-neutral-60)*/}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last{display:inline-block;width:3.2rem;height:3.2rem;vertical-align:top}
.pagination span{display:inline-block;margin:0 0.9rem}
.pagination span a, .pagination span strong{display:inline-block;width:3.2rem;height:3.2rem;border-radius:99.9rem;text-align:center;color:var(--color-neutral-80);font-size:1.5rem;line-height:3.2rem}
.pagination span strong{background-color:var(--color-lightblue-10);color:var(--color-darkblue-100)}
.pagination .next{position:relative}
.pagination .next:before{content:'';position:absolute;box-sizing:content-box;top:0%;left:0%;width:3.2rem;height:3.2rem;background:url(../images/arrow-right.svg)no-repeat center center/*top:50%;left:50%;width:0.6rem;height:0.6rem;transform:translate(-50%, -50%) rotate(45deg);margin-left:-0.2rem;border-right:0.1rem solid var(--color-neutral-60);border-top:0.1rem solid var(--color-neutral-60)*/}
.pagination .last{position:relative}
.pagination .last:before{content:'';position:absolute;box-sizing:content-box;top:0%;left:0%;width:3.2rem;height:3.2rem;background:url(../images/pagination-last.svg)no-repeat center center}
.sr-only{position:absolute; z-index: -1;overflow:hidden;width:0.1rem;height:0.1rem;margin: 0 !important;font-size:0.1rem;line-height:2;opacity:0}