@layer base {

  // 전역 폰트 설정
  body {
    font-family: "LG EI Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
    // line-height: 1.5;
    font-weight: normal;

    color-scheme: light dark;
    color: var(--ant-color-text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--ant-color-bg-layout);

    h1, h2, h3, h4, h5, h6 {
      font-family: "LG EI Headline", system-ui, Avenir, Helvetica, Arial, sans-serif;
      color: var(--ant-color-text);
    }
  
    h1 { font-weight: bold; font-size: 2.5rem; }
    h2 { font-weight: 600; font-size: 2.5rem; }
    h3 { font-weight: normal; font-size: 2rem; }
    h4 { font-weight: normal; font-size: 1.5rem; }
    h5 { font-weight: 300; font-size: 1.25rem; }
    h6 { font-weight: 100; font-size: 1rem;  }
  }

  #root {
    width: 100%;
    height: 100%;
    background-color: var(--sv-color-bg);
  }

  // Layout
  .survey {
    width: 100%;
    min-width: 1200px;
    max-width: 1800px;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;

    .sv-aside {
      width: 240px;
      min-height: 100%;
      background-color: #f0f2f5;
      border-inline-end: 1px solid var(--sv-color-split);
    }
    .sv-content {
      flex-grow: 1;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      > div {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }
    .content-header { 
      height: 60px; width: 100%; display: flex; border-bottom: 1px solid var(--sv-color-split);

      .bread-crumb {
        .bread-crumb-list { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 0; color: #555; font-size: 14px; }
        .bread-crumb-list > dt {  font-size: 15px;  }
        .bread-crumb-list > dd {  padding-left: 20px; position: relative; margin-bottom: 0; }
        .bread-crumb-list > dd::before { content: ">"; position: absolute; left: 7px; top: 48%; transform: translateY(-50%); }
        .bread-crumb-list > dd:last-of-type { font-weight: bold; }
      }
      .header-menu { display: flex; align-items: center; }
    }
    .content-main { 
      min-height: calc(100% - 105px); width: 100%;  display: flex;
      .content-inner { flex-direction: column; }
      .content-title {
        height: 50px; width: 100%; display: flex; align-items: center; padding: 0px; 
        .lucide  {}
        .title-text { margin: 0 0 0 6px; }
        h3.title-text { font-size: 16px; position: relative; top: 1px; }
      }
      .content-body {
        flex-grow: 1; width: 100%; display: flex; flex-direction: column; 
      }

    }
    .content-footer { 
      height: 40px; width: 100%;  display: flex; border-top: 1px solid var(--sv-color-split); 
      .copyright { width: 100%; text-align: center; }
    }

    .content-inner { 
      padding: 10px 20px; display: flex; width: 100%; 
      text-align: inherit;
    }

    .form-block { 
      border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px 0;
      > form {
        display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;
      }
      &.border-none {
        border-top: none; border-bottom: none; padding: 10px 0 0
      }
      .form-inline { 
        display: flex; flex-flow: row nowrap; align-items: center; 
        .form-item-group { display: flex; align-items: center; margin-left: 14px; }
        .ant-space-compact-block { width: auto !important; }
        .ant-form-item { margin-bottom: 0 !important; }
        &.justify-end { justify-content: flex-end; width: 100%;  }
        &.justify-center { justify-content: center; width: 100%;  }
      }
      
    }

    // Grid
    .grid-block { 
      margin-top: 10px; 
      .grid-block-header {
        display: flex; align-items: center; justify-content: space-between; 
      }
    }

    [class*="btn-group"] {
      display: flex; align-items: center; gap: 10px; margin: 10px 0;
      &.btn-group-center { justify-content: center;}
      &.btn-group-end { justify-content: flex-end;}
    }

  }






  /* ------------------------------- */

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  :where(.css-dev-only-do-not-override-1d8anct).ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required::before {
    display: none;
  }

  :where(.css-dev-only-do-not-override-1d8anct).ant-form-item
    .ant-form-item-label
    > label.ant-form-item-required::after {
    display: inline-block;
    margin-inline-end: var(--ant-margin-xxs);
    color: var(--ant-form-label-required-mark-color);
    font-size: var(--ant-font-size);
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
    position: relative;
    top: -3px;
  }

  .survey-logo {
    font-size: 1em;
    /* margin-top: 0.5em; */
    white-space: nowrap;
    overflow: hidden;
  }
  .survey-logo .blind {
    font-size: 20px;
    color: blueviolet;
  }
  .ant-layout-sider-collapsed .survey-logo .blind {
    display: none;
  }

  .anticon + .ant-form-item {
    margin-left: 4px;
  }


  /* sider */
  .survey-sider-top {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    height: 60px;
  }

  /* menu */
  .ant-menu {
    text-align: left;
  }

  /* header */
  #root .ant-layout-header {
    --ant-layout-header-bg: #f5f5f5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    padding-right: 10px;
  }



} // @layer base