@use "mixins" as *;

@layer design-system {
  // 1. typography

  // 2. colors

  // 3. spacing

  // 4. table












  
  // 5. form
  .ant-input {
    &:focus {
      // border-color: $my-primary-color;
    }
  }

  // 6. button
  .ant-btn {
    font-weight: 600;
    text-transform: uppercase;
    
    &.ant-btn-primary {
      // box-shadow: 0 4px 10px rgba($my-primary-color, 0.3);
    }
    [class^="ant-btn"] {
      position: relative;
      top: 1px;
      width: 18px;
    }
    .ant-btn-icon + span {
      position: relative; top: 1px;
    }
  }
  .ant-btn-primary {
    // background-color: $primary-color !important;
  }


// border-radius: var(--ag-wrapper-border-radius); 8px

  // AG - grid
  /* ag-grid 테마 내에서 요약 패널 숨김 */
  .survey {

    // page nav - 요약블럭 삭제
    .ag-paging-row-summary-panel {
        display: none !important;
    }
  
    .ag-root {
      .ag-header {

        // .ag-header-cell[col-id="ag-Grid-SelectionColumn"] {
        //   padding: 0 10px !important;
        //   width: 30px !important;
        // }
        

        .ag-header-cell-label {
         justify-content: center;
         .ag-header-cell-text {
           font-size: 13px;
           font-weight: 500;
           color: #2a2a2a;
         }
       }

       .ag-header-cell-resize {
          &:after {
                  // background-color: var(--ag-header-column-resize-handle-color);
                  // content: "";
                  // height: var(--ag-header-column-resize-handle-height);
                  // position: absolute;
                  // top: calc(50% - var(--ag-header-column-resize-handle-height) * .5);
                  // width: var(--ag-header-column-resize-handle-width);
                  // z-index: 1;
                  width: 1px !important; // 게시판 헤더 구분선
              }
        }

      }
  
      .ag-body {
        .ag-row {
          color: var(--ag-cell-text-color);
          font-family: "LG EI Text", system-ui, Helvetica, Arial, sans-serif;
          font-size: var(--ag-data-font-size);
          .ag-cell {
    
          }
        }
      }

      
    }
  
  }

}


// --ag-background-color: var(--ag-inherited-background-color, #fff);
