@layer base {
  /* 임시 list 정리 */
 :root {
    --sv-primary-color: #2563EB;
    --sv-border-radius: 4px;
    --sv-font-size: 14px;

    --sv-blue: #1677FF;
    --sv-purple: #722ED1;
    --sv-cyan: #13C2C2;
    --sv-green: #52C41A;
    --sv-magenta: #EB2F96;
    --sv-pink: #EB2F96;
    --sv-red: #F5222D;
    --sv-orange: #FA8C16;
    --sv-yellow: #FADB14;
    --sv-volcano: #FA541C;
    --sv-geekblue: #2F54EB;
    --sv-gold: #FAAD14;
    --sv-lime: #A0D911;
    --sv-color-primary: #2563eb;
    --sv-color-success: #52c41a;
    --sv-color-warning: #faad14;
    --sv-color-error: #ff4d4f;
    --sv-color-info: #1677ff;
    --sv-color-link: #1677ff;
    --sv-color-text-base: #000;
    --sv-color-bg-base: #fff;
    --sv-font-family: "LG EI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --sv-font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --sv-font-size: 14px;
    --sv-line-width: 1px;
    --sv-line-type: solid;
    --sv-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
    --sv-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
    --sv-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --sv-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --sv-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
    --sv-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
    --sv-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --sv-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --sv-border-radius: 4px;
    --sv-size-unit: 4px;
    --sv-size-step: 4px;
    --sv-size-popup-arrow: 16px;
    --sv-control-height: 32px;
    --sv-z-index-base: 0;
    --sv-z-index-popup-base: 1000;
    --sv-opacity-image: 1;
    --sv-blue-1: #e6f4ff;
    --sv-blue-2: #bae0ff;
    --sv-blue-3: #91caff;
    --sv-blue-4: #69b1ff;
    --sv-blue-5: #4096ff;
    --sv-blue-6: #1677ff;
    --sv-blue-7: #0958d9;
    --sv-blue-8: #003eb3;
    --sv-blue-9: #002c8c;
    --sv-blue-10: #001d66;
    --sv-purple-1: #f9f0ff;
    --sv-purple-2: #efdbff;
    --sv-purple-3: #d3adf7;
    --sv-purple-4: #b37feb;
    --sv-purple-5: #9254de;
    --sv-purple-6: #722ed1;
    --sv-purple-7: #531dab;
    --sv-purple-8: #391085;
    --sv-purple-9: #22075e;
    --sv-purple-10: #120338;
    --sv-cyan-1: #e6fffb;
    --sv-cyan-2: #b5f5ec;
    --sv-cyan-3: #87e8de;
    --sv-cyan-4: #5cdbd3;
    --sv-cyan-5: #36cfc9;
    --sv-cyan-6: #13c2c2;
    --sv-cyan-7: #08979c;
    --sv-cyan-8: #006d75;
    --sv-cyan-9: #00474f;
    --sv-cyan-10: #002329;
    --sv-green-1: #f6ffed;
    --sv-green-2: #d9f7be;
    --sv-green-3: #b7eb8f;
    --sv-green-4: #95de64;
    --sv-green-5: #73d13d;
    --sv-green-6: #52c41a;
    --sv-green-7: #389e0d;
    --sv-green-8: #237804;
    --sv-green-9: #135200;
    --sv-green-10: #092b00;
    --sv-magenta-1: #fff0f6;
    --sv-magenta-2: #ffd6e7;
    --sv-magenta-3: #ffadd2;
    --sv-magenta-4: #ff85c0;
    --sv-magenta-5: #f759ab;
    --sv-magenta-6: #eb2f96;
    --sv-magenta-7: #c41d7f;
    --sv-magenta-8: #9e1068;
    --sv-magenta-9: #780650;
    --sv-magenta-10: #520339;
    --sv-pink-1: #fff0f6;
    --sv-pink-2: #ffd6e7;
    --sv-pink-3: #ffadd2;
    --sv-pink-4: #ff85c0;
    --sv-pink-5: #f759ab;
    --sv-pink-6: #eb2f96;
    --sv-pink-7: #c41d7f;
    --sv-pink-8: #9e1068;
    --sv-pink-9: #780650;
    --sv-pink-10: #520339;
    --sv-red-1: #fff1f0;
    --sv-red-2: #ffccc7;
    --sv-red-3: #ffa39e;
    --sv-red-4: #ff7875;
    --sv-red-5: #ff4d4f;
    --sv-red-6: #f5222d;
    --sv-red-7: #cf1322;
    --sv-red-8: #a8071a;
    --sv-red-9: #820014;
    --sv-red-10: #5c0011;
    --sv-orange-1: #fff7e6;
    --sv-orange-2: #ffe7ba;
    --sv-orange-3: #ffd591;
    --sv-orange-4: #ffc069;
    --sv-orange-5: #ffa940;
    --sv-orange-6: #fa8c16;
    --sv-orange-7: #d46b08;
    --sv-orange-8: #ad4e00;
    --sv-orange-9: #873800;
    --sv-orange-10: #612500;
    --sv-yellow-1: #feffe6;
    --sv-yellow-2: #ffffb8;
    --sv-yellow-3: #fffb8f;
    --sv-yellow-4: #fff566;
    --sv-yellow-5: #ffec3d;
    --sv-yellow-6: #fadb14;
    --sv-yellow-7: #d4b106;
    --sv-yellow-8: #ad8b00;
    --sv-yellow-9: #876800;
    --sv-yellow-10: #614700;
    --sv-volcano-1: #fff2e8;
    --sv-volcano-2: #ffd8bf;
    --sv-volcano-3: #ffbb96;
    --sv-volcano-4: #ff9c6e;
    --sv-volcano-5: #ff7a45;
    --sv-volcano-6: #fa541c;
    --sv-volcano-7: #d4380d;
    --sv-volcano-8: #ad2102;
    --sv-volcano-9: #871400;
    --sv-volcano-10: #610b00;
    --sv-geekblue-1: #f0f5ff;
    --sv-geekblue-2: #d6e4ff;
    --sv-geekblue-3: #adc6ff;
    --sv-geekblue-4: #85a5ff;
    --sv-geekblue-5: #597ef7;
    --sv-geekblue-6: #2f54eb;
    --sv-geekblue-7: #1d39c4;
    --sv-geekblue-8: #10239e;
    --sv-geekblue-9: #061178;
    --sv-geekblue-10: #030852;
    --sv-gold-1: #fffbe6;
    --sv-gold-2: #fff1b8;
    --sv-gold-3: #ffe58f;
    --sv-gold-4: #ffd666;
    --sv-gold-5: #ffc53d;
    --sv-gold-6: #faad14;
    --sv-gold-7: #d48806;
    --sv-gold-8: #ad6800;
    --sv-gold-9: #874d00;
    --sv-gold-10: #613400;
    --sv-lime-1: #fcffe6;
    --sv-lime-2: #f4ffb8;
    --sv-lime-3: #eaff8f;
    --sv-lime-4: #d3f261;
    --sv-lime-5: #bae637;
    --sv-lime-6: #a0d911;
    --sv-lime-7: #7cb305;
    --sv-lime-8: #5b8c00;
    --sv-lime-9: #3f6600;
    --sv-lime-10: #254000;
    --sv-color-text: rgba(0, 0, 0, 0.88);
    --sv-color-text-secondary: rgba(0, 0, 0, 0.65);
    --sv-color-text-tertiary: rgba(0, 0, 0, 0.45);
    --sv-color-text-quaternary: rgba(0, 0, 0, 0.25);
    --sv-color-fill: rgba(0, 0, 0, 0.15);
    --sv-color-fill-secondary: rgba(0, 0, 0, 0.06);
    --sv-color-fill-tertiary: rgba(0, 0, 0, 0.04);
    --sv-color-fill-quaternary: rgba(0, 0, 0, 0.02);
    --sv-color-bg-solid: rgb(0, 0, 0);
    --sv-color-bg-solid-hover: rgba(0, 0, 0, 0.75);
    --sv-color-bg-solid-active: rgba(0, 0, 0, 0.95);
    --sv-color-bg-layout: #f5f5f5;
    --sv-color-bg-container: #ffffff;
    --sv-color-bg-elevated: #ffffff;
    --sv-color-bg-spotlight: rgba(0, 0, 0, 0.85);
    --sv-color-bg-blur: transparent;
    --sv-color-border: #d9d9d9;
    --sv-color-border-disabled: #d9d9d9;
    --sv-color-border-secondary: #f0f0f0;
    --sv-color-primary-bg: #f0f7ff;
    --sv-color-primary-bg-hover: #cce3ff;
    --sv-color-primary-border: #a3c9ff;
    --sv-color-primary-border-hover: #7aadff;
    --sv-color-primary-hover: #4f8af7;
    --sv-color-primary-active: #1647c4;
    --sv-color-primary-text-hover: #4f8af7;
    --sv-color-primary-text: #2563eb;
    --sv-color-primary-text-active: #1647c4;
    --sv-color-success-bg: #f6ffed;
    --sv-color-success-bg-hover: #d9f7be;
    --sv-color-success-border: #b7eb8f;
    --sv-color-success-border-hover: #95de64;
    --sv-color-success-hover: #95de64;
    --sv-color-success-active: #389e0d;
    --sv-color-success-text-hover: #73d13d;
    --sv-color-success-text: #52c41a;
    --sv-color-success-text-active: #389e0d;
    --sv-color-error-bg: #fff2f0;
    --sv-color-error-bg-hover: #fff1f0;
    --sv-color-error-bg-filled-hover: #ffdfdc;
    --sv-color-error-bg-active: #ffccc7;
    --sv-color-error-border: #ffccc7;
    --sv-color-error-border-hover: #ffa39e;
    --sv-color-error-hover: #ff7875;
    --sv-color-error-active: #d9363e;
    --sv-color-error-text-hover: #ff7875;
    --sv-color-error-text: #ff4d4f;
    --sv-color-error-text-active: #d9363e;
    --sv-color-warning-bg: #fffbe6;
    --sv-color-warning-bg-hover: #fff1b8;
    --sv-color-warning-border: #ffe58f;
    --sv-color-warning-border-hover: #ffd666;
    --sv-color-warning-hover: #ffd666;
    --sv-color-warning-active: #d48806;
    --sv-color-warning-text-hover: #ffc53d;
    --sv-color-warning-text: #faad14;
    --sv-color-warning-text-active: #d48806;
    --sv-color-info-bg: #e6f4ff;
    --sv-color-info-bg-hover: #bae0ff;
    --sv-color-info-border: #91caff;
    --sv-color-info-border-hover: #69b1ff;
    --sv-color-info-hover: #69b1ff;
    --sv-color-info-active: #0958d9;
    --sv-color-info-text-hover: #4096ff;
    --sv-color-info-text: #1677ff;
    --sv-color-info-text-active: #0958d9;
    --sv-color-link-hover: #69b1ff;
    --sv-color-link-active: #0958d9;
    --sv-color-bg-mask: rgba(0, 0, 0, 0.45);
    --sv-color-white: #fff;
    --sv-font-size-sm: 12px;
    --sv-font-size-lg: 16px;
    --sv-font-size-xl: 20px;
    --sv-font-size-heading-1: 38px;
    --sv-font-size-heading-2: 30px;
    --sv-font-size-heading-3: 24px;
    --sv-font-size-heading-4: 20px;
    --sv-font-size-heading-5: 16px;
    --sv-line-height: 1.5714285714285714;
    --sv-line-height-lg: 1.5;
    --sv-line-height-sm: 1.6666666666666667;
    --sv-font-height: 22px;
    --sv-font-height-lg: 24px;
    --sv-font-height-sm: 20px;
    --sv-line-height-heading-1: 1.2105263157894737;
    --sv-line-height-heading-2: 1.2666666666666666;
    --sv-line-height-heading-3: 1.3333333333333333;
    --sv-line-height-heading-4: 1.4;
    --sv-line-height-heading-5: 1.5;
    --sv-size-xxl: 48px;
    --sv-size-xl: 32px;
    --sv-size-lg: 24px;
    --sv-size-md: 20px;
    --sv-size-ms: 16px;
    --sv-size: 16px;
    --sv-size-sm: 12px;
    --sv-size-xs: 8px;
    --sv-size-xxs: 4px;
    --sv-control-height-sm: 24px;
    --sv-control-height-xs: 16px;
    --sv-control-height-lg: 40px;
    --sv-motion-duration-fast: 0.1s;
    --sv-motion-duration-mid: 0.2s;
    --sv-motion-duration-slow: 0.3s;
    --sv-line-width-bold: 2px;
    --sv-border-radius-xs: 1px;
    --sv-border-radius-sm: 4px;
    --sv-border-radius-lg: 4px;
    --sv-border-radius-outer: 4px;
    --sv-color-fill-content: rgba(0, 0, 0, 0.06);
    --sv-color-fill-content-hover: rgba(0, 0, 0, 0.15);
    --sv-color-fill-alter: rgba(0, 0, 0, 0.02);
    --sv-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
    --sv-color-border-bg: #ffffff;
    --sv-color-split: rgba(5, 5, 5, 0.06);
    --sv-color-text-placeholder: rgba(0, 0, 0, 0.25);
    --sv-color-text-disabled: rgba(0, 0, 0, 0.25);
    --sv-color-text-heading: rgba(0, 0, 0, 0.88);
    --sv-color-text-label: rgba(0, 0, 0, 0.65);
    --sv-color-text-description: rgba(0, 0, 0, 0.45);
    --sv-color-text-light-solid: #fff;
    --sv-color-highlight: #ff4d4f;
    --sv-color-bg-text-hover: rgba(0, 0, 0, 0.06);
    --sv-color-bg-text-active: rgba(0, 0, 0, 0.15);
    --sv-color-icon: rgba(0, 0, 0, 0.45);
    --sv-color-icon-hover: rgba(0, 0, 0, 0.88);
    --sv-color-error-outline: rgba(255, 38, 5, 0.06);
    --sv-color-warning-outline: rgba(255, 215, 5, 0.1);
    --sv-font-size-icon: 12px;
    --sv-line-width-focus: 3px;
    --sv-control-outline-width: 2px;
    --sv-control-interactive-size: 16px;
    --sv-control-item-bg-hover: rgba(0, 0, 0, 0.04);
    --sv-control-item-bg-active: #f0f7ff;
    --sv-control-item-bg-active-hover: #cce3ff;
    --sv-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
    --sv-control-tmp-outline: rgba(0, 0, 0, 0.02);
    --sv-control-outline: rgba(5, 122, 255, 0.06);
    --sv-font-weight-strong: 600;
    --sv-opacity-loading: 0.65;
    --sv-link-decoration: none;
    --sv-link-hover-decoration: none;
    --sv-link-focus-decoration: none;
    --sv-control-padding-horizontal: 12px;
    --sv-control-padding-horizontal-sm: 8px;
    --sv-padding-xxs: 4px;
    --sv-padding-xs: 8px;
    --sv-padding-sm: 12px;
    --sv-padding: 16px;
    --sv-padding-md: 20px;
    --sv-padding-lg: 24px;
    --sv-padding-xl: 32px;
    --sv-padding-content-horizontal-lg: 24px;
    --sv-padding-content-vertical-lg: 16px;
    --sv-padding-content-horizontal: 16px;
    --sv-padding-content-vertical: 12px;
    --sv-padding-content-horizontal-sm: 16px;
    --sv-padding-content-vertical-sm: 8px;
    --sv-margin-xxs: 4px;
    --sv-margin-xs: 8px;
    --sv-margin-sm: 12px;
    --sv-margin: 16px;
    --sv-margin-md: 20px;
    --sv-margin-lg: 24px;
    --sv-margin-xl: 32px;
    --sv-margin-xxl: 48px;
    --sv-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-secondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-tertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    --sv-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-card: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    --sv-box-shadow-drawer-right: -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-drawer-left: 6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-drawer-up: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-drawer-down: 0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
    --sv-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
    --sv-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
    --sv-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
    --sv-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);


  }



}
