@layer base {
  /* 임시 list 정리 */
//  :root {
//   --sv-menu-collapsed-width: 60px !important;
//  }

  // :where(.css-var-_r_0_.ant-menu-css-var) {
  //   --sv-menu-collapsed-width: 60px !important;
  // }

  $color-split: rgba(5, 5, 5, 0.06);
  $color-primary: #a50934;

}


.css-var-_r_3h_.ant-menu-css-var {

}
.css-var-_r_3h_.ant-btn {

}

