@layer base {
  /* css 변수 정리 중 */

  :root {
    /* Design Tokens */
    $white: #ffffff;
    $black: #000000;
    $color-split: rgba(5, 5, 5, 0.06);
    $color-primary: #a50934;
    $color-border: #d9d9d9;
    $border-radius: 4px;
    $font-family-base: 'LG EI Text', 'Noto Sans KR', sans-serif;
    $font-family-title: 'LG EI Headline', 'Noto Sans KR', sans-serif;
    $font-size-base: 14px;
    $font-size-lg: 16px;
    $font-size-sm: 12px;

    // #{$color-primary} !important;
    --color-white: #{$white};
    --color-black: #{$black};
    --sv-color-split: #{$color-split};
    --sv-color-primary: #{$color-primary} !important;
    --sv-color-border: #{$color-border} !important;
    --sv-border-radius: #{$border-radius};
    --sv-border-radius: #{$border-radius};
    --sv-select-border-color: #{$color-border};

    --sv-control-outline-width: 0;
    --sv-select-active-outline-color: transparent;
    // --sv-select-background-color: ;

    --sv-font-family-base: #{$font-family-base};
    --ag-header-font-family: #{$font-family-base};

    /* */ // border-radius: var(--ant-select-border-radius);
    // border-width: var(--ant-select-border-size);
    // border-style: var(--sv-line-type);
    // border-color: var(--ant-select-border-color);
    // background: var(--ant-select-background-color);
    // padding-inline: var(--ant-select-padding-horizontal);
    // padding-block: var(--ant-select-padding-vertical);
  }

}

