
  .m-0 { margin: 0 !important; }
  .mt-10 { margin-top: 10px !important; }
  .mb-20 { margin-bottom: 20px !important; }

  .p-1 { padding: 0 !important; }
  .pt-10 { padding-top: 10px !important; }
  .pb-20 { padding-bottom: 20px !important; }

  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align: right; }

  .hidden { display: none !important; }
  .block { display: block; }
  
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
