#root {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

html.color-blind-mode {
  @apply invert;
}

html.gray-mode {
  @apply grayscale;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*  */
#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.page-layout,
.ant-layout-sider {
  min-height: 100vh;
}

.ant-menu {
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required::before {
  display: none;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required::after {
  display: inline-block;
  margin-inline-end: var(--ant-margin-xxs);
  color: var(--ant-form-label-required-mark-color);
  font-size: var(--ant-font-size);
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
  position: relative;
  top: -3px;
}

.survey-logo {
  font-size: 1em;
  /* margin-top: 0.5em; */
  white-space: nowrap;
  overflow: hidden;
}
.survey-logo .blind {
  font-size: 20px;
  color: blueviolet;
}
.ant-layout-sider-collapsed .survey-logo .blind {
  display: none;
}

.anticon + .ant-form-item {
  margin-left: 4px;
}

.page-title {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.page-title h3 {
  margin: 0 0 3px 10px;
  padding: 0;
}

.bar-after {
}

/* content */

/* form */
.page-form-block {
  border-radius: 6px;
  padding: 20px;

  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border: 1px solid #e9ebee;
  /* border: 1px solid #f0f0f0; */
}
.page-form-block .form-group {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 120px);
}
.page-form-block .ant-form {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-group + .ant-btn {
  height: 100%;
  min-height: 38px;
  max-height: 50px;
}

.ant-form-item {
  margin: 0;
}
.page-form-box .ant-form-item-control {
  min-width: 100px;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-space-compact-block {
  width: auto;
}

:where(.css-dev-only-do-not-override-1d8anct).ant-select-compact-item:not(
    .ant-select-compact-first-item
  ).ant-select-compact-last-item {
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}
